@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: var(--tg-theme-secondary-bg-color);
}
li{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    text-align: center;
    color: var(--tg-theme-hint-color);
}
ul{
    margin: 15px 0;
}
h1{
    color: var(--tg-theme-text-color);
    font-size: calc(2rem + 1.5vw) !important;
}
.price{
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tg-theme-text-color);
}
.p{
    font-size: calc(2.5rem + 1.5vw) !important;
}
.btn{
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}




.standard{
    background-color: var(--tg-theme-bg-color);
    margin: 10px;
    border-radius: 30px;
}
.standard .top{
    text-align: center;
    border-radius: 30px 30px 0 0;
}
.standard .content{
    padding: 8px;
    border-radius: 0 0 30px 30px;
}



.premuim{
    background-color: var(--tg-theme-bg-color);
    margin: 10px;
    border-radius: 30px;
}
.premuim .top{
    text-align: center;
    border-radius: 30px 30px 0 0;
}
.premuim .content{
    padding: 8px;
    border-radius: 0 0 30px 30px;
}



.business{
    background-color: var(--tg-theme-bg-color);
    margin: 10px;
    border-radius: 30px;
}
.business .top{
    text-align: center;
    border-radius: 30px 30px 0 0;
}
.business .content{
    padding: 8px;
    border-radius: 0 0 30px 30px;
}